body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cord-white {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

img.img-circle {
    border-radius: 50%;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.btn-blue {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn-blue:hover {
    background-color: #267bb5;
}

.lise-inline {
    padding: 0;
}

.lise-inline li {
    display: inline-block;
    margin-right: 10px;
}

.fa-brands {
    font-size: 24px;
    color: #333;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #bc2a8d;
}
